 /* CSS Reset */
 body {
    
    margin: 0px;
    padding: 0px;
   box-sizing: border-box;
}
.vertical{
    display: none;
}

.banner {
    font-family: 'Baloo Bhai', cursive;
    /* height:100vh; */
 
    background: url('img/workout-1946596_1920.jpg');
   background-attachment: fixed;
background-size: 100% 100%; 
 }

.left {
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    left: 10px;
    top: 0px;
}

.left img {
    width: 136px;
    filter: invert(100%);
    margin-left: 10px;
}

.left div {
    line-height: 10px;
    font-size: 20px;
    text-align: center;
    color: white;
    margin-right: 10vh;
}

.mid {
    display: block;
    width: 80%;
    margin:auto 0 auto 25vh;
    /* float : right; */
    

    
    /* border: 2px solid green; */
}

.right {
    position: absolute;
    right: 5px;
    top: 10px;
    display: inline-block;
    /* border: 2px solid yellow; */
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 22px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 1px 7px;
    /* background-color: rgba(0, 0, 0, 0.3); */

}

.navbar li a:hover  
{
    text-decoration: underline;
    color : red;

}

.btn {
    font-family: 'Baloo Bhai', cursive;
    margin: 5px 2px;
    background-color: black;
    color: white;
    padding: 1px 10px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(31, 30, 30);
}

.container {
    border: 2px solid white;
    margin: 100px 80px 10px 120px;
    padding: 2px;
    width: 25%;
    border-radius: 28px;
    color: white;
    
}

.form-group input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 80%;
    padding: 1px;
    border: 2px solid black;
    margin: 5px auto;
    /* margin-left: px; */
    font-size: 17px;
    border-radius: 8px;
}

.container h1 {
    text-align: center;
    font-size: x-large;
}

.container button {
    display: block;
    width: 74%;
    margin: 10px auto;

} 
.col-lg-4{
   display : inline-flex;
   width : 25%;
   height:100%;
   margin: 30px;
  }
.single-offer {
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 20px 60px 0px rgba(246, 33, 75, 0.3);
    text-align: center;
  }
  
  .single-offer h4 {
    padding: 30px 0 20px 0;
  }
  

  .offer{
    text-align: center;
}
#course{
    /* background-size: 200px 200px; */
    background: url(img/abs-1850926_1920.jpg) ;
    background-attachment: fixed;
    color: white;
   
}
.course{
    width:340px;
    border: 3px solid white; 
    padding: 10px 30px 0px 10px;
}

/* schedule */
/* schedule */
/* schedule */



.thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.thead-light{
    
        text-transform: uppercase;
        font-weight: 700;
        
    
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
        border-bottom-color: rgb(222, 226, 230);
        border-bottom-width: 5px;
}
.table th {
    font-weight: 3000;
}
.table th, .table td {
    border: 1px solid #dee2e6;
    padding: 10px 50px;
    /* vertical-align: top;  */
    border-top: 1px solid #dee2e6;
}


table tr:hover {
    color: #fff;
    background-color: rgb(243, 117, 117);
}
table {
    text-align: center;
    border-collapse: collapse;
    margin: auto;
}
#schedule{
    background:rgba(184, 106, 121, 0.3);
}
/* <!-- Trainer  -->
<!-- Trainer  -->
<!-- Trainer  --> */
#trainer{
    background-color:lightgreen ;
    width: 100%;
    height: 120vh;
  
    justify-content: center;
    /* padding: auto; */
}
.trainer{
    display: flex;
    width: 100%;
   
}
.trainer-img{
margin: auto;;
}
.trainer-img img{
    margin: auto;
    width: 95%;
}

/* <!-- become a member -->
<!-- become a member -->
<!-- become a member --> */

.become-member{
    background: url(img/training-828760.jpg);
    background-size:100% ;
    padding: 30% 0 2% 0;
    color:white;

}
.become-member a{
    background-color: red;
    padding: 10px 25px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 20px;
    color:white;
    
}

/* plan  */
/* plan  */
.price
{

    border: #495057 2px solid;
    padding: 5px;
    background-color: lightcyan;
}
.price:hover{
transform: scale(1.1);
}
#plan
{
    background: fixed url(img/barbell-1839086_1920.jpg) ;
    background-size: 100%;
    
}
.plan-head{
    color:white ;
    font-weight: 100;
}
.price button{
    background-color: red;
    color: white;
    padding: 10px 35px;
    border-radius: 20px;
    font-size: large;
}



/* <!-- BMI  -->
<!-- BMI -->
<!-- BMI  --> */
#convert{
    padding: 7% ;
    background-color: aqua;

}
#convert p{
    margin-bottom: 50px;
}
.bmi-input{

    display: flex;
    justify-content: center;
   

}
#convert a{
    text-decoration: none;
    padding: 10px 25px;
    background-color: red;
    color: white;
    border-radius: 20px;
    font-size: larger;
    
}
#convert input{
    margin: 20px ;
    padding: 15px 40px;
}


footer div{
    width: 30%;
    margin-right: 5%;
}


footer{
    /* background-color: #495057; */
    display: flex;
    justify-content: center;
   
    
}
.social a{
    position: relative;
    text-decoration: none;
    margin: 10px;
    font-size: x-large;
}
.back-to-top{
    position: fixed;
    bottom: 10px;
    right: 10px;
   
}
.back-to-top h4 a{
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    background-color: red;
    border-radius: 20px;
}
.back-to-top h4 a:focus{
   outline: none;}

/* #chk{
    display:none;
} */

   /* upto 1024 */

   @media screen and (max-width:1024px)
   {
.header{
    display: none;
}
.vertical{
    display: unset;
}





.vertical .hder{
    position: fixed;
    top: 0;
    display: flex;
    background-color: darkslategrey;
    height: 70px;
    width: 100%;
    justify-content : center;
    line-height: 70px;
    align-items: center;
    z-index: 98;

}
.hder img{
    height: 70px;
    width: 130px;
    margin-right: 10px;
    filter: invert(100%);
}
.hder h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    
}


.side{
    height: 100%;
    width: 30%;
    position: fixed;
    top: 70px;
    background-color: #353b48;
    left: -100%;
    transition: 0.7s;
    z-index: 97;
    text-align: center;
}
.side ul li a{
    display: block;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 25px 15px 0px;
    color: white;
}
.side ul li {
    list-style: none;
    border-bottom: 2px solid rgba(225,225,225,.1);
  
}

.side ul li a:hover{ 
    border-left:solid 10px white ;
}

.sbtn, .hbtn{

    font-size: 30px;
    color: white;
    position : fixed;
    top:20px;
    left:40px;
    z-index: 99;

}
.hbtn{
    opacity: 0;
}

#chk:checked ~ .side{
    left : 0;
} 

#chk:checked ~ .sbtn
{
    opacity: 0;
}
#chk:checked ~ .hbtn
{
    opacity: 1;
}


   }
@media screen and (max-width:896px)
{
    .side{
        width: 100%;
        text-align: center;
    }
    .hder h1
    {
        display: none;
    }

    .container {
        width: 40%;
    }
    .banner{
        background-size: cover;
    }
    .offer{
        display: block;

    }
    #offer .col-lg-4{
        width: 70%;
    }
    
    
}
@media screen and (max-width:668px)
{
    .container {
width: 70%;
    }
}
   