 /* CSS Reset */
 body {
    
    margin: 0px;
    padding: 0px;
   
}

.banner {
    font-family: 'Baloo Bhai', cursive;
    /* height:100vh; */
 
    background: url('img/workout-1946596_1920.jpg');
   background-attachment: fixed;
background-size: 100% 100%; 
 }

.left {
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    left: 10px;
    top: 0px;
}

.left img {
    width: 136px;
    filter: invert(100%);
    margin-left: 10px;
}

.left div {
    line-height: 10px;
    font-size: 20px;
    text-align: center;
    color: white;
}

.mid {
    display: block;
    width: 50%;
    margin:auto auto auto 30%;
    
    /* border: 2px solid green; */
}

.right {
    position: absolute;
    right: 10px;
    top: 10px;
    display: inline-block;
    /* border: 2px solid yellow; */
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 22px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 1px 10px;

}

.navbar li a:hover  
{
    text-decoration: underline;
    color : red;

}

.btn {
    font-family: 'Baloo Bhai', cursive;
    margin: 4px 5px;
    background-color: black;
    color: white;
    padding: 1px 10px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 17px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(31, 30, 30);
}

.container {
    border: 2px solid white;
    margin: 100px 80px 10px 120px;
    padding: 2px;
    width: 25%;
    border-radius: 28px;
    color: white;
    
}

.form-group input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 80%;
    padding: 1px;
    border: 2px solid black;
    margin: 5px auto;
    /* margin-left: px; */
    font-size: 17px;
    border-radius: 8px;
}

.container h1 {
    text-align: center;
    font-size: x-large;
}

.container button {
    display: block;
    width: 74%;
    margin: 10px auto;

} 
.col-lg-4{
   display : inline-flex;
   width : 25%;
   margin: 30px;
  }
.single-offer {
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 20px 60px 0px rgba(246, 33, 75, 0.3);
    text-align: center;
  }
  
  .single-offer h4 {
    padding: 30px 0 20px 0;
  }
  

  .offer{
    text-align: center;
}
#course{
    /* background-size: 200px 200px; */
    background: url(img/abs-1850926_1920.jpg) ;
    background-attachment: fixed;
    color: white;
   
}

/* schedule */
/* schedule */
/* schedule */



.thead-light th {
    color: #495057;
    background-color: #e9ecef;
    border-color: #dee2e6;
}

.thead-light{
    
        text-transform: uppercase;
        font-weight: 700;
        
    
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
        border-bottom-color: rgb(222, 226, 230);
        border-bottom-width: 5px;
}
.table th {
    font-weight: 3000;
}
.table-bordered th, .table-bordered td {
    border: 1px solid #dee2e6;
        
}
table th, table td {
    padding: 10px 50px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}


table tr:hover {
    color: #fff;
    background-color: rgb(243, 117, 117);
}
table {
    text-align: center;
    border-collapse: collapse;
}
table{
    margin: 20px auto auto 180px;
}
#schedule{
    background:rgba(184, 106, 121, 0.3);
}
/* <!-- Trainer  -->
<!-- Trainer  -->
<!-- Trainer  --> */
#trainer{
    background-color:lightgreen ;
}
.trainer{
    display: flex;
    width: 20%;
    margin: 0 7%;
}
.trainer-img{
    margin: 10px;
}
/* <!-- become a member -->
<!-- become a member -->
<!-- become a member --> */

.become-member{
    background: url(img/training-828760.jpg);
    background-size:100% ;
    padding: 30% 0 2% 0;
    color:white;

}
.become-member a{
    background-color: red;
    padding: 10px 25px;
    border-radius: 10px;
    text-decoration: none;
    margin-top: 20px;
    color:white;
    
}

/* plan  */
/* plan  */
.price
{

    border: #495057 2px solid;
    padding: 5px;
    background-color: lightcyan;
}
.price:hover{
transform: scale(1.1);
}
#plan
{
    background: fixed url(img/barbell-1839086_1920.jpg) ;
    background-size: 100%;
    
}
.plan-head{
    color:white ;
    font-weight: 100;
}
.price button{
    background-color: red;
    color: #dee2e6;
    padding: 2px 15px;
}



/* <!-- BMI  -->
<!-- BMI -->
<!-- BMI  --> */
#convert{
    padding: 7% ;
    background-color: aqua;

}
#convert p{
    margin-bottom: 50px;
}
.bmi-input{

    display: flex;
    justify-content: center;
   

}
#convert a{
    text-decoration: none;
    padding: 10px 25px;
    background-color: red;
    color: white;
    border-radius: 20px;
    font-size: larger;
    
}
#convert input{
    margin: 20px ;
    padding: 15px 40px;
}